main{
    min-height: 80vh;
    margin: auto;
    font-family: "MangoSans";
}

h1{
  font-size: 2.4rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3{
    padding:1rem 0;
}

.rating span{
  margin:0.1rem;
}


@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@font-face {
  font-family: 'MangoSans';
  src: local('MangoSans'), url(./assets/fonts/mangosans2.ttf) format('truetype');
}

@font-face {
  font-family: 'MangoSans';
  src: local('MangoSans'), url(./assets/fonts/mangosans1.eot) format('eot');
}

@font-face {
  font-family: 'MangoSans';
  src: local('MangoSans'), url(./assets/fonts/mangosans5.woff) format('woff');
}